@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;700&display=swap");
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "HankenGrotesk", sans-serif;
}
:root{
  /* Primary Colors */
  --lightRed: hsl(0, 100%, 67%);
  --lightRedBackground: hsla(0, 100%, 67%, 0.151);
  --orangeYellow: hsl(39, 100%, 56%);
  --orangeYellowBackground: hsla(39, 100%, 56%, 0.233);
  --greenTeal: hsl(166, 100%, 37%);
  --greenTealBackground: hsla(166, 100%, 37%, 0.192);
  --cobaltBlue: hsl(234, 85%, 45%);
  --cobaltBlueBackground: hsla(234, 65%, 38%, 0.164);

  /* Gradients */
   --lightSlateBlue: hsl(252, 100%, 67%);
  --lightRoyalBlue:  hsl(241, 81%, 54%);
  --VioletBlue : hsla(256, 72%, 46%, 1) ;
  --persianBlue : hsl(241, 72%, 46%);

  /* Neutral Colors */
  --darkGreyBlue: hsl(224, 30%, 27%);
  --white: hsl(0, 0%, 100%);
  --paleBlue: hsl(223, 76%, 92%);
  --lightLavender: hsl(241, 90%, 81%);
  
  /* Fonts */
  --paragraph: 18px;
}
body {
  /* background-color: var(--white); */
  background-color: rgb(59, 59, 59);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
  flex-direction: column;
}
.container{
  background: var(--white);
  width: 50%;
  max-width: 1440px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
  gap: 2rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 10px 10px 10px black;
}

.container .dashboard{
  background: linear-gradient(90deg, var(--lightRoyalBlue) 0%, var(--lightSlateBlue) 100%);
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

}
.dashboard .dashboard__header{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--lightLavender);
}
.dashboard .dashboard__score {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  background: linear-gradient(270deg, var(--VioletBlue) 0%, var(--persianBlue) 100%);
  margin-bottom: 20px;
}
.dashboard__score .score-number{
  font-size: 3rem;
  font-weight: 700;
  color: var(--white);
}
.dashboard__score .score-text{
  font-size: 15px;
  font-weight: 400;
  color: var(--lightLavender);
}
.dashboard .dashboard__grade{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: auto;
}
.dashboard__grade .grade-text{
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--white);
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.dashboard__grade .grade-description{
  font-size: 1rem;
  font-weight: 400;
  color: var(--lightLavender);
  letter-spacing: 2px;
  line-height: 1.5;
}
.summary{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 0;
  margin-right: 20px;
}
.summary .summary__header{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: left;
  color: var(--darkGreyBlue);
}
.summary #summary__category{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: auto;
}
#summary__category .categoryicon{
  border: 2px solid rgb(205 201 201);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 1rem;
  padding: 0.5rem 5px;
  border-radius: 5px;
}
.categoryicon img{
  width: 24px;
  height: 24px;
}
 .text-block{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.categoryicon .category-text{
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  /* text-align: left; */
  clear: right;
}
.categoryicon .score{
  font-weight: 600;
  letter-spacing: 1px;
  text-align: right;
}
.score h2{
  font-size: 20px;
  font-weight: 700;
  color: var(--darkGreyBlue);
}
.score h2 span{
  font-weight: 400;
  font-size: 17px;
  color: var(--lightLavender)
}
.summary button{
  width: 100%;
  height: 50px;
  font-size: 1.3em;
  font-weight: 400;
  color: var(--white);
  margin-top: 30px;
  border-radius: 50px;
  letter-spacing: 1.5px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: var(--darkGreyBlue);
  transition: backgroundColor .9s ease-in-out;
}
button:hover{
  background: linear-gradient(180deg, var(--VioletBlue) 0%, var(--persianBlue) 100%);
}
@media screen and (max-width: 960px) {
  .container {
    width: 80%;
    max-width: 960px;
    gap: 20px;
    grid-template-columns: 1fr;
    height: auto;
    border: 25px;
    margin: 10px 0;
  }
    .summary .summary__header {
      font-size: 1.2rem;
    }

  .container .dashboard {
    border-radius: 5px;
    padding: 25px;
    height: auto;
  }
  body{
    max-width: 960px;
  }

  .dashboard .dashboard__header {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 20px;
  }
    .categoryicon img {
      width: 18px;
      height: 18px;
    }
 .score h2{
  font-size: 18px;
 }
 
  .dashboard .dashboard__score {
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
  }
    .dashboard__score .score-number {
      font-size: 1.5rem;
    }
        .summary button {
          height: 40px;
          font-size: 1em;

          margin-top: 8px;
          border-radius: 30px;
        }
        .dashboard__score .score-text {
          font-size: 13px;
        }
                .dashboard__grade .grade-text {
                  font-size: 1.8rem;
                  margin-bottom: 10px;
                }
                                .categoryicon .category-text {
                                  font-size: 1rem;
                                }
                
                                .score h2 {
                                  font-weight: 700;
                                  color: var(--darkGreyBlue);
                                }
                
                                .score h2 span {
                                  font-size: 18px;
                              
                                }
                                .summary {
                                  display: flex;
                                  flex-direction: column;
                                  justify-content: space-between;
                                  align-items: flex-start;
                                  padding: 1rem 0;
                                  margin-left: 10px;
                                }
}
.attribution {
  font-size: 1em;
  text-align: center;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.attribution a {
  color: hsl(229, 94%, 28%);
  text-decoration: none;
  line-height: 10px;
}